<?php
namespace %namespace%;

use Eddy\Framework\Support\Traits\CanSendResponse;
use Psr\Http\Message\ServerRequestInterface as Request;
use React\Http\Message\Response;

class %name%
{
    use CanSendResponse;

    /**
     * Add controller logic below
     *
     * @param Request $request
     *
     * @return Response
     */
    public function __invoke(Request $request)
    {
        return $this->respond('Hello World');
    }
}
